.genres{
    display: flex;
    gap: 5px;
    scale: 0.8;
    .genre{
        background: var(--pink);
        padding: 3px 5px;
        border-radius: 4px;
        color: #fff;
        white-space: nowrap;
        text-transform: uppercase;
    }
}